<!-- BEGIN_INCLUDE(jenkinsconnector:jenkins-node-info) -->
    <jenkinsconnector:GetJenkinsNodeInfoType />
<!-- END_INCLUDE(jenkinsconnector:jenkins-node-info) -->

<!-- BEGIN_INCLUDE(jenkinsconnector:jenkins-job-info) -->
    <jenkinsconnector:GetJobInfoType />
<!-- END_INCLUDE(jenkinsconnector:jenkins-job-info) -->

<!-- BEGIN_INCLUDE(jenkinsconnector:jenkins-job-build) -->
    <jenkinsconnector:build />
<!-- END_INCLUDE(jenkinsconnector:jenkins-job-build) -->

<!-- BEGIN_INCLUDE(jenkinsconnector:jenkins-job-build-with-parameters) -->
    <jenkinsconnector:buildWithParameters />
<!-- END_INCLUDE(jenkinsconnector:jenkins-job-build-with-parameters) -->